# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Special
Makefile
live555MediaServer
live555ProxyServer
MPEG2TransportStreamIndexer
openRTSP
playSIP
registerRTSPStream
sapWatch
vobStreamer
testProgs/test*

.vs/
~*
